/* цвет основного текста color: #757575; */
/* вторичный цвет текста  color: #212121; */
/* акцент синий   color: #2196F3; */
/* белый color: #FFFFFF  */
/* основной фон  background: # ffffff; */
/* второстепенный фон  background: #F5F4FA;*/
/* фон для героя   background:#2f303a; */
:root {
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --primary-background-color: #ffffff;
  --titel-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
}

.page {
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0, 03em;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

}
.main-nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
}
/* cite-nav */
.cite-nav {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.cite-nav .item + .item {
  margin-left: 50px;
}
.cite-nav .link:hover,
.cite-nav .link:focus {
  color: var(--accent-text-color);
}
.hat{
 display: flex;
  align-items: center;
  

}

a {
  text-decoration: none;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.logo {
  display: inline-block;
  margin-left: 0px;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--accent-text-color);
  font-family: Raleway, sans-seri;
  font-size: 28px;
  line-height: 1.19;
}
.logo .accent {
  color: var(--titel-text-color);
}
.active {
  color: var(--accent-text-color);
}
.active:hover,
.active:focus {
  color: teal;
}
.hero {
  text-align: center;
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 200px;
  padding-right: 452px;
  padding-left: 452px;

  color: var(--white-text-color);
  background: var(--hero-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-context {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 89px;
  width: 1600px;
  height: 600px;
  background: var(--hero-background-color);
}
.hero-button {
  margin-top: 0px;
  margin-right: 700px;
  margin-bottom: 200px;
  margin-left: 700px;
  width: 200px;
  height: 50px;
}

.section {
  border: 1px solid transparent;

}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--titel-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.information-section {
  display: flex;
  margin-top: 0px;
  margin-bottom: 94px;
  width: 1170px;
  height: 101px;
}
.box-li {
  width: 270px;
}
.box-li:not(:nth-child(4n)) {
  margin-right: 30px;
}
.photo-works {
  width: 270;
  height: 368;
}
.photo-works:not(:nth-child(4n)) {
  margin-right: 30px;
}
.box-photo {
  display: block;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;

  width: 1600px;
  height: 648px;
  background: var(--titel-background-color);
}
.feature-list {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--titel-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.pictures-of-works {
  display: flex;
  margin-bottom: 94px;
}
.pictures-box:not(:nth-child(3n)) {
  margin-right: 30px;
}
.feature-list-portfolio {
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--titel-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.information-section-photo {
  display: flex;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
  width: 1170px;
  height: 368px;
}
.feature-list-name {
  color: var(--titel-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.27;
  text-align: center;
}
.text {
  margin: 0px;
  font-size: 14px;
  line-height: 1.71;
}
.text-name {
  margin: 0px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.text-name-portfolio {
  margin: 0px;
  font-size: 16px;
  line-height: 1.88;
}

/* ayth-nav */
.auth-nav {
  display: flex;
}
 .inted {
  margin-left: 328px; 
}
.auth-nav .item + .item {
  margin-left: 50px;
}
.auth-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auch-nav-writing :hover,
.auch-nav-writing :focus {
  color: var(--accent-text-color);
}
/*  блок фото portpholio */
.block-photo{
  display: flex;
  flex-wrap: wrap;
}
.block-photo-box{
 margin-top: 0px; 
 margin-bottom: 30px;
 margin-left: 0px;
}

.block-photo-box:not(:nth-child(3n)) {
  margin-right: 30px;
}


/* стилизация футера */
.footer {
 
}
.footer-fon{ 
  display: block;  
   margin-left: auto;
  margin-right: auto; 
  padding-top: 60px;
  padding-bottom: 20px;
  background:  var(--hero-background-color);  
  width: 1600px;
  height: 252px;
}
.accent-text {
  color: var(--white-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.adress {
  margin-top: 0px;
  margin-bottom: 9px;
  color: var(--white-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.41;
}
.contacts {
  margin-top: 0px;
  margin-bottom: 9px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-text-color);
}

}
.groups-of-buttons {
  display: inline-block;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 56px;
  margin-left: auto;
  min-width: 611px;
}
.buttons{
  display: flex;
justify-content: center;
margin-bottom: 50px;
}
.button {
  display: inline-block;
  border-radius: 8px;
  margin-top: 0px;

  color: var(--white-text-color);
  background: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-filter {
  display: inline-block;
  min-width: 73px;
  border-radius: 6px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-filter:not(:nth-child(5n)) {
  margin-right: 8px;
}
.button-filter:hover,
.button-filter:focus {
  color: var(--white-text-color);
  background: var(--accent-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}
