/* цвет основного текста color: #757575; */
/* вторичный цвет текста  color: #212121; */
/* акцент синий   color: #2196F3; */
/* белый color: #FFFFFF  */
/* основной фон  background: # ffffff; */
/* второстепенный фон  background: #F5F4FA;*/
/* фон для героя   background:#2f303a; */
:root {
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --primary-background-color: #ffffff;
  --titel-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
}
.page {
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0, 03em;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.logo {
  color: var(--accent-text-color);
  font-family: Raleway, sans-seri;
  font-size: 28px;
  line-height: 1.19;
}
.logo .accent {
  color: var(--titel-text-color);
}
.active {
  color: var(--accent-text-color);
}
.active:hover,
.active:focus {
  color: teal;
}

.hero-title {
  color: var(--white-text-color);
  background: var(--hero-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title {
  color: var(--titel-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.cite-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.cite-nav .link:hover,
.cite-nav .link:focus {
  color: var(--accent-text-color);
}
.feature-list {
  color: var(--titel-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list-portfolio {
  color: var(--titel-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.feature-list-name {
  color: var(--titel-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.27;
  text-align: center;
}
.text {
  font-size: 14px;
  line-height: 1.71;
}
.text-name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.text-name-portfolio {
  font-size: 16px;
  line-height: 1.88;
}
.auth-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auch-nav-writing :hover,
.auch-nav-writing :focus {
  color: var(--accent-text-color);
}
/* стилизация футера */
.footer {
  background: var(--hero-background-color);
}
.accent-text {
  color: var(--white-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.adress {
  color: var(--white-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.41;
}
.contacts {
  font-weight: 500;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-text-color);
}
.button {
  color: var(--white-text-color);
  background: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-filter:hover,
.button-filter:focus {
  color: var(--white-text-color);
  background: var(--accent-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}
